@import "partials/fonts";
@import "partials/settings";

.header {
	&__top {
		background-color: $dark;
	}

	&__bottom {
		background-color: $header-bg;
	}

	&__top-content {
		display: flex;
		position: relative;
		justify-content: space-between;
		align-items: center;

		//лого
		.logo {
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	//МЕНЮ
	&__top-menu {
		padding-left: 371px;

		ul {
			list-style-type: none;
			color: $header-top-menu;
			display: flex;
			align-items: center;
			text-transform: uppercase;
			padding: 0;
			margin: 0;
			font-size: 12px;
			line-height: 14px;

			a {
				padding: 7px 32px;
				background-color: transparent;
				display: inline-block;

				&:hover {
					background-color: $header-top-menu-bg-hover;
					color: $header-top-menu-hover;
				}
			}
		}
	}

	//ВЫБОР ГОРОДА И ТЕЛЕФОН
	&__top-items {
		display: flex;
		align-items: center;
		color: $header-top-menu-hover;
		font-size: 12px;
		line-height: 14px;

		.city-choose {
			margin-right: 40px;
		}
	}

	//НИЖНЕЕ МЕНЮ
	&__bottom-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-left: 378px;
	}

	//МЕНЮ И ПОИСК
	.menu-search-block {
		display: flex;
	}

	&__bottom-menu {
		ul {
			display: flex;
			list-style-type: none;
			padding: 0;
			margin: 0 24px 0 0;
		}

		a {
			padding: 13px 24px;
			font-size: 16px;
			line-height: 19px;
			display: inline-block;
			color: $header-top-menu-bg-hover;
		}

	}

	.search-form {
		position: relative;
		background-color: $header-top-menu-hover;
		width: 467px;
	}

	.search-input {
		background-color: $header-top-menu-hover;
		border: none;
		width: 100%;
		height: 44px;
	}

	.search-filter {
		position: absolute;
		left: 8px;
		top: 4px;
		background-color: $header-search-dark-gray;

		.filter-chooser {
			padding: 8px 15px;

			span {
				font-weight: 500;
				font-size: 14px;
				line-height: 16px;
				text-transform: uppercase;
				color: $header-top-menu-bg-hover;
			}
		}

		.filter-dropdown {
			display: none;
		}
	}

	.search-button-div {
		position: absolute;
		right: 0;
		top: 0;
		display: inline-block;

		button {
			border: none;
			height: 44px;
			width: 70px;
			background-color: $red;
		}
	}
	//ИКОНКИ КОРЗИНЫ И ЛК
	&__bottom-items {
		display: flex;
		align-items: center;

		.item {
			padding: 0 15px;
		}
	}
}
//ПЕРВЫЙ ЭКРАН
.intro {
	max-width: 1920px;
	margin: 0 auto;

	&__slider {
		width: 100%;
	}

	&__content {
		position: relative;
	}

	.product-menu {
		position: absolute;
		left: 0;
		right: 1548px;
		top: 0;
		margin: auto;
		width: 307px;
		font-size: 16px;
		line-height: 19px;
		color: $header-top-menu-bg-hover;
		background-color: $header-bg;
		display: inline-block;

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
		}

		li {
			border-bottom: 1px solid $header-search-dark-gray;
			position: relative;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				right: 24px;
				margin: auto;
				width: 7px;
				height: 14px;
				background-image: url("../img/menu-arrow.svg");
				background-size: contain;
				background-position: center center;
				background-repeat: no-repeat;

			}

			&:nth-last-of-type(1) {
				border: none;
			}
		}

		a {
			padding: 15px 24px;
			display: block;
		}
	}
}

//категории

.categories-preview {
	display: flex;
	margin-bottom: 100px;

	&__card {
		width: 361px;
	}

	&__name {
		width: 160px;
		font-size: 34px;
		font-weight: 400;
		line-height: 40px;
		text-align: center;
		color: $white;
	}
}

//услуги

.services {
	margin: 0 auto;
	margin-bottom: 85px;
	max-width: 1288px;

	&__list {
		display: flex;
		justify-content: space-between;
		padding: 0;
		margin: 0;
		list-style: none;
	}

	&__item {
		position: relative;
		max-width: 165px;
	}

	&__link {
		display: block;
		padding-top: 65px;
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: $dark;

		&:before {
			top: 0;
			left: 50%;
			content: url("../img/icons/message.svg");
			position: absolute;
			width: 40px;
			height: 40px;
			transform: translateX(-50%);
		}
	}
}

//красный процент

.percent {
	text-align: center;
	font-weight: 400;
	color: $white;
	background-color: $red;
}

//баннеры со скидкой

.sales {
	display: flex;
	justify-content: space-between;
	margin-bottom: 55px;

	&__banner {
		position: relative;
		width: 720px;
	}

	&__title {
		position: absolute;
		left: 32px;
		bottom: 40px;
		display: flex;
		align-items: center;
		padding-left: 25px;
		font-size: 32px;
		font-weight: 600;
		line-height: 38px;
		text-align: center;
		color: $title-gray;
		background-color: $white;
	}

	&__percent {
		margin-left: 25px;
		padding-top: 7px;
		padding-bottom: 5px;
		padding-left: 8px;
		padding-right: 10px;
		font-size: 24px;
		font-weight: 500;
	}

	&__banner--small {
		width: 470px;
	}

	&__banner--small &__title {
		left: 24px;
		bottom: 32px;
		font-size: 24px;
		line-height: 28px;
	}

	&__banner--small &__percent {
		font-size: 20px;
	}
}

//футер

.footer {
	margin-top: 200px;
	background-color: $main-bg;

	&__main,
	&__legal {
		border-top: 1px solid $line-gray;
	}

	&__main {
		display: flex;
		padding-top: 40px;
		padding-bottom: 50px;
	}

	&__list {
		margin: 0;
		margin-right: 80px;
		padding: 0;
		width: 220px;
		list-style: none;

		&:last-child {
			margin-right: 0;
		}
	}

	&__link {
		display: block;
		font-size: 12px;
		font-weight: 400;
		line-height: 29px;
		color: $title-gray-light;
	}

	&__title {
		font-size: 14px;
		font-weight: 500;
		line-height: 20px;
		color: $title-gray;
	}

	&__list-special {
		margin-top: 30px;
		margin-bottom: 35px;
	}

	.footer__legal {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.footer__legal a {
		font-size: 12px;
		line-height: 18px;
		color: #b5b6b9;
	}
}

.payment {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	&__element {
		margin-right: 15px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.social {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	&__link {
		display: block;
		margin-right: 15px;
	}

	.inst-desc {
		font-size: 14px;
		line-height: 16px;
		text-align: center;
		color: #999ba2;
	}
}
