<section class="products popular-items">
	<h2 class="block-title">Популярное</h2>
	<ul class="products__list">
		<li class="products__card product">
			<div class="product__main-wrap">
				<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
				<div class="product__score-wrap">
					<ul class="product__rating rating">
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item" aria-label="5">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
					</ul>
					<p class="product__recommend recommend">76 рекомендует</p>
				</div>
				<ul class="product__marks marks">
					<li>
						<div class="marks__arrow">
							<p class="marks__item">Хит сезона</p>
							<svg width="11" height="7">
								<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
							</svg>
						</div>
						<ul class="marks__extra">
							<li>
								<p class="marks__item">Всеобщая любовь</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="product__gallery">
					<div class="product__main-image">
						<ul class="product__basket">
							<li class="item">
								<a href="javascript:;" class="basket-link delay">
									<svg width="20" height="18">
										<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
									</svg>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="basket-link compare">
									<svg width="14" height="16">
										<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
									</svg>
								</a>
							</li>
						</ul>
						<img src="img/products/gray.jpg" alt="" width="248" height="244">
						<button class="product__fast-view fast-view">Быстрый просмотр</button>
					</div>
					<ul class="product__preview-list">
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
					</ul>
				</div>
				<div class="product__price-info prices">
					<p class="prices__old">29 260 ₽</p>
					<p class="prices__new">20 130 ₽</p>
					<span class="prices__sale percent">-31%</span>
				</div>
				<button class="product__cheaper call-form">Нашли дешевле?</button>
				<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
				<p class="product__info">
					<span class="product__amount amount amount--much">Много</span>
					<span class="product__vendor-code vendor-code">Артикул 7#79548</span>
				</p>
				<div class="product__colors">
					<ul class="product__colors-list colors">
						<li>
							<button class="colors__item colors__item--active">
									<span class="colors__img">
										<img src="img/colors/red.png" alt="Красный" width="24" height="24">
									</span>
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/gray.png" alt="Серый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/yellow.png" alt="Желтый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/green.png" alt="Зеленый" width="24" height="24">
							</button>
						</li>
					</ul>
					<button class="product__another-color call-form">Нужен в другом цвете?</button>
				</div>
				<div class="product__buy-wrapper">
					<div class="product__change-amount-wrap">
						<p class="product__change-amount change-amount">
							<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
							<input type="text" class="change-amount__text" name="quantity" value="1">
							<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
						</p>
					</div>
					<button class="product__buy simple-button">Купить</button>
				</div>
				<p class="product__total-price">Общая стоимость <span>486 860 ₽</span></p>
			</div>
		</li>
		<li class="products__card product">
			<div class="product__main-wrap">
				<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
				<div class="product__score-wrap">
					<ul class="product__rating rating">
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item" aria-label="5">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
					</ul>
					<p class="product__recommend recommend">76 рекомендует</p>
				</div>
				<ul class="product__marks marks">
					<li>
						<div class="marks__arrow">
							<p class="marks__item">Хит сезона</p>
							<svg width="11" height="7">
								<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
							</svg>
						</div>
						<ul class="marks__extra">
							<li>
								<p class="marks__item">Всеобщая любовь</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="product__gallery">
					<div class="product__main-image">
						<ul class="product__basket">
							<li class="item">
								<a href="javascript:;" class="basket-link delay">
									<svg width="20" height="18">
										<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
									</svg>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="basket-link compare">
									<svg width="14" height="16">
										<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
									</svg>
								</a>
							</li>
						</ul>
						<img src="img/products/multicolor.jpg" alt="" width="248" height="244">
						<button class="product__fast-view fast-view">Быстрый просмотр</button>
					</div>
					<ul class="product__preview-list">
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
					</ul>
				</div>
				<div class="product__price-info prices">
					<p class="prices__old">29 260 ₽</p>
					<p class="prices__new">20 130 ₽</p>
					<span class="prices__sale percent">-31%</span>
				</div>
				<button class="product__cheaper call-form">Нашли дешевле?</button>
				<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
				<p class="product__info">
					<span class="product__amount amount amount--much">Много</span>
					<span class="product__vendor-code vendor-code">Артикул 7#79548</span>
				</p>
				<div class="product__colors">
					<ul class="product__colors-list colors">
						<li>
							<button class="colors__item colors__item--active">
									<span class="colors__img">
										<img src="img/colors/red.png" alt="Красный" width="24" height="24">
									</span>
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/gray.png" alt="Серый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/yellow.png" alt="Желтый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/green.png" alt="Зеленый" width="24" height="24">
							</button>
						</li>
					</ul>
					<button class="product__another-color call-form">Нужен в другом цвете?</button>
				</div>
				<div class="product__buy-wrapper">
					<div class="product__change-amount-wrap">
						<p class="product__change-amount change-amount">
							<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
							<input type="text" class="change-amount__text" name="quantity" value="1">
							<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
						</p>
					</div>
					<button class="product__buy simple-button">Купить</button>
				</div>
				<p class="product__total-price">Общая стоимость <span>486 860 ₽</span></p>
			</div>
		</li>
		<li class="products__card product">
			<div class="product__main-wrap">
				<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
				<div class="product__score-wrap">
					<ul class="product__rating rating">
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item" aria-label="5">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
					</ul>
					<p class="product__recommend recommend">76 рекомендует</p>
				</div>
				<ul class="product__marks marks">
					<li>
						<div class="marks__arrow">
							<p class="marks__item">Хит сезона</p>
							<svg width="11" height="7">
								<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
							</svg>
						</div>
						<ul class="marks__extra">
							<li>
								<p class="marks__item">Всеобщая любовь</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="product__gallery">
					<div class="product__main-image">
						<ul class="product__basket">
							<li class="item">
								<a href="javascript:;" class="basket-link delay">
									<svg width="20" height="18">
										<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
									</svg>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="basket-link compare">
									<svg width="14" height="16">
										<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
									</svg>
								</a>
							</li>
						</ul>
						<img src="img/products/white.jpg" alt="" width="248" height="244">
						<button class="product__fast-view fast-view">Быстрый просмотр</button>
					</div>
					<ul class="product__preview-list">
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
					</ul>
				</div>
				<div class="product__price-info prices">
					<p class="prices__old">29 260 ₽</p>
					<p class="prices__new">20 130 ₽</p>
					<span class="prices__sale percent">-31%</span>
				</div>
				<button class="product__cheaper call-form">Нашли дешевле?</button>
				<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
				<p class="product__info">
					<span class="product__amount amount amount--much">Много</span>
					<span class="product__vendor-code vendor-code">Артикул 7#79548</span>
				</p>
				<div class="product__colors">
					<ul class="product__colors-list colors">
						<li>
							<button class="colors__item colors__item--active">
									<span class="colors__img">
										<img src="img/colors/red.png" alt="Красный" width="24" height="24">
									</span>
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/gray.png" alt="Серый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/yellow.png" alt="Желтый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/green.png" alt="Зеленый" width="24" height="24">
							</button>
						</li>
					</ul>
					<button class="product__another-color call-form">Нужен в другом цвете?</button>
				</div>
				<div class="product__buy-wrapper">
					<div class="product__change-amount-wrap">
						<p class="product__change-amount change-amount">
							<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
							<input type="text" class="change-amount__text" name="quantity" value="1">
							<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
						</p>
					</div>
					<button class="product__buy simple-button">Купить</button>
				</div>
				<p class="product__total-price">Общая стоимость <span>486 860 ₽</span></p>
			</div>
		</li>
		<li class="products__card product">
			<div class="product__main-wrap">
				<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
				<div class="product__score-wrap">
					<ul class="product__rating rating">
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item" aria-label="5">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
					</ul>
					<p class="product__recommend recommend">76 рекомендует</p>
				</div>
				<ul class="product__marks marks">
					<li>
						<div class="marks__arrow">
							<p class="marks__item">Хит сезона</p>
							<svg width="11" height="7">
								<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
							</svg>
						</div>
						<ul class="marks__extra">
							<li>
								<p class="marks__item">Всеобщая любовь</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="product__gallery">
					<div class="product__main-image">
						<ul class="product__basket">
							<li class="item">
								<a href="javascript:;" class="basket-link delay">
									<svg width="20" height="18">
										<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
									</svg>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="basket-link compare">
									<svg width="14" height="16">
										<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
									</svg>
								</a>
							</li>
						</ul>
						<img src="img/products/red.jpg" alt="" width="248" height="244">
						<button class="product__fast-view fast-view">Быстрый просмотр</button>
					</div>
					<ul class="product__preview-list">
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
					</ul>
				</div>
				<div class="product__price-info prices">
					<p class="prices__old">29 260 ₽</p>
					<p class="prices__new">20 130 ₽</p>
					<span class="prices__sale percent">-31%</span>
				</div>
				<button class="product__cheaper call-form">Нашли дешевле?</button>
				<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
				<p class="product__info">
					<span class="product__amount amount amount--much">Много</span>
					<span class="product__vendor-code vendor-code">Артикул 7#79548</span>
				</p>
				<div class="product__colors">
					<ul class="product__colors-list colors">
						<li>
							<button class="colors__item colors__item--active">
									<span class="colors__img">
										<img src="img/colors/red.png" alt="Красный" width="24" height="24">
									</span>
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/gray.png" alt="Серый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/yellow.png" alt="Желтый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/green.png" alt="Зеленый" width="24" height="24">
							</button>
						</li>
					</ul>
					<button class="product__another-color call-form">Нужен в другом цвете?</button>
				</div>
				<div class="product__buy-wrapper">
					<div class="product__change-amount-wrap">
						<p class="product__change-amount change-amount">
							<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
							<input type="text" class="change-amount__text" name="quantity" value="1">
							<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
						</p>
					</div>
					<button class="product__buy simple-button">Купить</button>
				</div>
				<p class="product__total-price">Общая стоимость <span>486 860 ₽</span></p>
			</div>
		</li>
		<li class="products__card product">
			<div class="product__main-wrap">
				<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
				<div class="product__score-wrap">
					<ul class="product__rating rating">
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
						<li>
							<svg width="14" height="13" class="rating__item" aria-label="5">
								<use xlink:href="img/icons/sprite.svg#rating-star"></use>
							</svg>
						</li>
					</ul>
					<p class="product__recommend recommend">76 рекомендует</p>
				</div>
				<ul class="product__marks marks">
					<li>
						<div class="marks__arrow">
							<p class="marks__item">Хит сезона</p>
							<svg width="11" height="7">
								<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
							</svg>
						</div>
						<ul class="marks__extra">
							<li>
								<p class="marks__item">Всеобщая любовь</p>
							</li>
						</ul>
					</li>
				</ul>
				<div class="product__gallery">
					<div class="product__main-image">
						<ul class="product__basket">
							<li class="item">
								<a href="javascript:;" class="basket-link delay">
									<svg width="20" height="18">
										<use xlink:href="img/icons/sprite.svg#basket-delay"></use>
									</svg>
								</a>
							</li>
							<li class="item">
								<a href="javascript:;" class="basket-link compare">
									<svg width="14" height="16">
										<use xlink:href="img/icons/sprite.svg#basket-compare"></use>
									</svg>
								</a>
							</li>
						</ul>
						<img src="img/products/green.jpg" alt="" width="248" height="244">
						<button class="product__fast-view fast-view">Быстрый просмотр</button>
					</div>
					<ul class="product__preview-list">
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
						<li class="product__preview-item">
							<img src="img/products/preview.jpg" alt="" width="64" height="56">
						</li>
					</ul>
				</div>
				<div class="product__price-info prices">
					<p class="prices__old">29 260 ₽</p>
					<p class="prices__new">20 130 ₽</p>
					<span class="prices__sale percent">-31%</span>
				</div>
				<button class="product__cheaper call-form">Нашли дешевле?</button>
				<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
				<p class="product__info">
					<span class="product__amount amount amount--much">Много</span>
					<span class="product__vendor-code vendor-code">Артикул 7#79548</span>
				</p>
				<div class="product__colors">
					<ul class="product__colors-list colors">
						<li>
							<button class="colors__item colors__item--active">
									<span class="colors__img">
										<img src="img/colors/red.png" alt="Красный" width="24" height="24">
									</span>
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/gray.png" alt="Серый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/yellow.png" alt="Желтый" width="24" height="24">
							</button>
						</li>
						<li>
							<button class="colors__item">
								<img src="img/colors/green.png" alt="Зеленый" width="24" height="24">
							</button>
						</li>
					</ul>
					<button class="product__another-color call-form">Нужен в другом цвете?</button>
				</div>
				<div class="product__buy-wrapper">
					<div class="product__change-amount-wrap">
						<p class="product__change-amount change-amount">
							<button class="change-amount__regulator change-amount__regulator--minus">уменьшить количество</button>
							<input type="text" class="change-amount__text" name="quantity" value="1">
							<button class="change-amount__regulator change-amount__regulator--plus">увеличить количество</button>
						</p>
					</div>
					<button class="product__buy simple-button">Купить</button>
				</div>
				<p class="product__total-price">Общая стоимость <span>486 860 ₽</span></p>
			</div>
		</li>
	</ul>
</section>
