<section class="products popular-items">
	<h2 class="block-title">Популярное</h2>
	<ul class="products__list">
		<li class="products__card product">
			<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
			<div class="product__score-wrap">
				<ul class="product__rating rating">
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item" aria-label="5">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
				</ul>
				<p class="product__recommend recommend">76 рекомендует</p>
			</div>
			<ul class="product__marks marks">
				<li>
					<div class="marks__arrow">
						<p class="marks__item">Хит сезона</p>
						<svg width="11" height="7">
							<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
						</svg>
					</div>
					<ul class="marks__extra">
						<li>
							<p class="marks__item">Всеобщая любовь</p>
						</li>
					</ul>
				</li>
			</ul>
			<img class="product__image" src="img/products/gray.jpg" alt="" width="248" height="244">
			<div class="product__price-info prices">
				<p class="prices__old">29 260 ₽</p>
				<p class="prices__new">20 130 ₽</p>
				<span class="prices__sale percent">-31%</span>
			</div>
			<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
			<a href="" class="product__buy simple-button">Купить</a>
		</li>
		<li class="products__card product">
			<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
			<div class="product__score-wrap">
				<ul class="product__rating rating">
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item" aria-label="5">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
				</ul>
				<p class="product__recommend recommend">76 рекомендует</p>
			</div>
			<ul class="product__marks marks">
				<li>
					<div class="marks__arrow">
						<p class="marks__item">Хит сезона</p>
						<svg width="11" height="7">
							<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
						</svg>
					</div>
					<ul class="marks__extra">
						<li>
							<p class="marks__item">Всеобщая любовь</p>
						</li>
					</ul>
				</li>
			</ul>
			<img class="product__image" src="img/products/multicolor.jpg" alt="" width="248" height="244">
			<div class="product__price-info prices">
				<p class="prices__old">29 260 ₽</p>
				<p class="prices__new">20 130 ₽</p>
				<span class="prices__sale percent">-31%</span>
			</div>
			<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
			<a href="" class="product__buy simple-button">Купить</a>
		</li>
		<li class="products__card product">
			<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
			<div class="product__score-wrap">
				<ul class="product__rating rating">
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item" aria-label="5">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
				</ul>
				<p class="product__recommend recommend">76 рекомендует</p>
			</div>
			<ul class="product__marks marks">
				<li>
					<div class="marks__arrow">
						<p class="marks__item">Хит сезона</p>
						<svg width="11" height="7">
							<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
						</svg>
					</div>
					<ul class="marks__extra">
						<li>
							<p class="marks__item">Всеобщая любовь</p>
						</li>
					</ul>
				</li>
			</ul>
			<img class="product__image" src="img/products/white.jpg" alt="" width="248" height="244">
			<div class="product__price-info prices">
				<p class="prices__old">29 260 ₽</p>
				<p class="prices__new">20 130 ₽</p>
				<span class="prices__sale percent">-31%</span>
			</div>
			<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
			<a href="" class="product__buy simple-button">Купить</a>
		</li>
		<li class="products__card product">
			<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
			<div class="product__score-wrap">
				<ul class="product__rating rating">
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item" aria-label="5">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
				</ul>
				<p class="product__recommend recommend">76 рекомендует</p>
			</div>
			<ul class="product__marks marks">
				<li>
					<div class="marks__arrow">
						<p class="marks__item">Хит сезона</p>
						<svg width="11" height="7">
							<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
						</svg>
					</div>
					<ul class="marks__extra">
						<li>
							<p class="marks__item">Всеобщая любовь</p>
						</li>
					</ul>
				</li>
			</ul>
			<img class="product__image" src="img/products/red.jpg" alt="" width="248" height="244">
			<div class="product__price-info prices">
				<p class="prices__old">29 260 ₽</p>
				<p class="prices__new">20 130 ₽</p>
				<span class="prices__sale percent">-31%</span>
			</div>
			<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
			<a href="" class="product__buy simple-button">Купить</a>
		</li>
		<li class="products__card product">
			<h3 class="product__name">Кресло для руководителя Lotus, экокожа, коричневый</h3>
			<div class="product__score-wrap">
				<ul class="product__rating rating">
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="1">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="2">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="3">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item rating__item--voted" aria-label="4">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
					<li>
						<svg width="14" height="13" class="rating__item" aria-label="5">
							<use xlink:href="img/icons/sprite.svg#rating-star"></use>
						</svg>
					</li>
				</ul>
				<p class="product__recommend recommend">76 рекомендует</p>
			</div>
			<ul class="product__marks marks">
				<li>
					<div class="marks__arrow">
						<p class="marks__item">Хит сезона</p>
						<svg width="11" height="7">
							<use xlink:href="img/icons/sprite.svg#small-arrow-down"></use>
						</svg>
					</div>
					<ul class="marks__extra">
						<li>
							<p class="marks__item">Всеобщая любовь</p>
						</li>
					</ul>
				</li>
			</ul>
			<img class="product__image" src="img/products/green.jpg" alt="" width="248" height="244">
			<div class="product__price-info prices">
				<p class="prices__old">29 260 ₽</p>
				<p class="prices__new">20 130 ₽</p>
				<span class="prices__sale percent">-31%</span>
			</div>
			<p class="product__buyers-like buyers-like">Покупателям нравится <span class="green-mark">Комфорт, Качественная сборка</span></p>
			<a href="" class="product__buy simple-button">Купить</a>
		</li>
	</ul>
</section>
