@media (max-width: 1886px) {
	.header {
		//МЕНЮ
		&__top-menu {
			padding-left: 330px;
		}

		//НИЖНЕЕ МЕНЮ
		&__bottom-content {
			padding-left: 336px;
		}
	}

	//==============ПЕРВЫЙ ЭКРАН===============
	.intro {
		.product-menu {
			position: absolute;
			left: 15px;
			right: auto;
			top: 0;
		}
	}
}

@media (max-width: 1700px) {

	.header {
		//МЕНЮ
		&__top-menu {
			padding-left: 330px;
			ul {
				a {
					padding: 7px 22px;
				}
			}
		}

		//НИЖНЕЕ МЕНЮ
		&__bottom-content {
			padding-left: 336px;
		}

		//МЕНЮ И ПОИСК
		&__bottom-menu {

			a {
				padding: 13px 15px 12px;
			}
		}
	}
}

@media (max-width: 1600px) {

	.header {
		//МЕНЮ
		&__top-menu {
			padding-left: 330px;
			ul {
				a {
					padding: 7px 10px;
				}
			}
		}

		//НИЖНЕЕ МЕНЮ
		&__bottom-content {
			padding-left: 330px;
		}

		//МЕНЮ И ПОИСК
		&__bottom-menu {

			a {
				padding: 13px 10px 12px;
			}
		}
	}
}

@media (max-width: 1500px) {
	.header {
		//ВЫБОР ГОРОДА И ТЕЛЕФОН
		&__top-items {
			.city-choose {
				margin-right: 20px;
			}
		}
		//МЕНЮ И ПОИСК
		&__bottom-menu {
			ul {
				margin: 0;
			}
		}

		.search-input {
			padding: 0 60px 0 10px;
		}

		.search-filter {
			display: none;
		}

		.search-button-div {

			button {
				width: 50px;
			}
		}
	}
}

@media (max-width: 1400px) {
	.header {
		//МЕНЮ
		&__top-menu {
			padding-left: 307px;
		}

		//НИЖНЕЕ МЕНЮ
		&__bottom-content {
			padding-left: 307px;
		}
	}
}

@media (max-width: 1280px) {
	.header {
		&__desktop {
			display: none;
		}

		&__mobile {
			display: flex;

		}
	}

	//==============ПЕРВЫЙ ЭКРАН===============
	.intro {
		&__slider {
			width: 100%;
			height: auto;
		}

		&__slider-item {
			img {
				height: auto;
				max-width: 100%;
			}
		}
		.product-menu {
			display: none;
		}
	}

	//===========Кнопки под первым блоком=============
	.product-kind-btns {
		padding: 32px 0 18px;

		&__wrapper {
			margin: 0 -15px;
		}

		.slick-slide {
			padding: 0 5px;
		}

		&__item {
			margin: 0;
			text-align: center;
		}
	}

	//===========КАРТА==========
	.map {

		&__search {
			max-width: 33%;
		}

		&__item {

			.item-name {
				padding: 40px 40px 37px 20px;

				&:after {
					right: 20px;
				}
			}

			.item-info {
				padding: 0 40px 37px 20px;
			}
		}
	}

	//=========СТАТЬИ============
	.states {
		&__item {
			flex-basis: 30%;
			margin-bottom: 8px;
		}
	}
}

@media (max-width: 992px) {
	//===========КАРТА==========
	.map {

		&__search {
			max-width: 100%;
		}

		&__wrapper {
			flex-wrap: wrap;
		}

		&__left {
			flex-basis: 100%;
			height: 320px;
		}

		&__item {

			.item-name {
				padding: 16px 40px;
			}

			.item-info {
				padding: 0 40px 16px;
			}
		}

		&__right {
			flex-basis: 100%;
			height: 720px;
			margin: 8px 0 0;
		}
	}

	//=========НОВОСТИ==========
	.news {
		&__wrapper {
			flex-wrap: wrap;
			background: none;
		}

		&__item {
			flex-basis: 50%;
			border-right: 1px solid $header-top-menu-hover;
			padding: 27px 40px 36px;
			background-color: $white;

			&:nth-last-of-type(1) {
				border: none;
			}
		}
	}

	//==========ОТЗЫВЫ============
	.reviews {
		&__item {
			flex-basis: 50%;
			padding-right: 70px;
		}
	}

}

@media (max-width: 768px) {
	//===========КАРТА==========
	.map {
		&__item {
			.item-name {
				padding: 16px 40px 16px 20px;

				&:after {
					right: 20px;
				}
			}

			.item-info {
				padding: 0 40px 16px 20px;
			}
		}
	}

	//=========НОВОСТИ==========
	.news {
		&__item {
			flex-basis: 100%;
			border: none;
			padding: 27px 40px 36px;
			background-color: $white;
			margin-bottom: 8px;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}

	//=========СТАТЬИ============
	.states {
		&__item {
			flex-basis: 49%;
		}

		&__image {
			max-height: 140px;
			height: auto;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		&__content {
			padding: 12px;
		}

		&__title {
			font-size: 16px;
			line-height: 24px;
			color: $dark;
			font-weight: 400;
		}
	}

	//============ИНСТАГРАМ==========
	.instagram {
		&__wrapper {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 8px;
			height: 200px;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}

	//==========ОТЗЫВЫ============
	.reviews {
		&__item {
			flex-basis: 100%;
			padding-right: 0;
			margin-bottom: 20px;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}
}

@media (max-width: 576px) {

}

//дана

//===============ПРЕВЬЮ КАРТОЧКИ ТОВАРА САМА ПО СЕБЕ==============

//@media(max-width: 1500px) {
//	.product {
//		width: 285px;
//
//		&--big {
//			width: 495px;
//		}
//	}
//}
//
//@media(max-width: 1490px) {
//	.product {
//		width: 280px;
//
//		&--big {
//			width: 495px;
//		}
//	}
//}
//
//@media(max-width: 1455px) {
//	.product {
//		width: 275px;
//
//		&--big {
//			width: 495px;
//		}
//	}
//}

@media(max-width: 1280px) {
	.product {
		width: 240px;

		&--big {
			width: 495px;
		}

		&__fast-view {
			font-size: 13px;
		}

		&__preview-item {
			width: 45px;
			margin-right: 2px;
		}

		&__amount {
			margin-right: 10px;
		}

		&__colors {
			flex-direction: column;
		}

		&__change-amount {
			width: 96px;
		}

		&__buyers-like {
			font-size: 12px;
			line-height: 14px;
		}
	}
}

@media(max-width: 768px) {
	.product {
		order: 1;
		&--big {
			order: 2;
			width: 100%;
		}
	}
}

@media(max-width: 576px) {
	.product {
		order: 1;
		width: 100%;
		height: auto;

		&--big {
			order: 1;

			.product__image {
				min-height: auto;
			}
		}

		&__main-image {
			min-height: auto;
		}
	}
}

//===============ЦЕНЫ==============

@media(max-width: 1490px) {
	.prices {

		&__old {
			font-size: 12px;

			&:before {
				width: 55px;
			}
		}

		&__new {
			font-size: 16px;
		}

		&__sale {
			font-size: 14px;
		}
	}
}

//===============КАТЕГОРИИ==============

@media(max-width: 1500px) {
	.categories-preview {

		&__column {
			width: 66.6%;

			&:last-child {
				width: 33.3%;
			}

			&:last-child .categories-preview__wrapper {
				width: 100%;
			}
		}

		&__wrapper {
			width: 32.7%;

			&--big {
				width: 66.3%;
			}
		}
	}
}

@media(max-width: 1300px) {
	.categories-preview {

		&__column {
			justify-content: space-between;
		}

		&__wrapper {
			width: 49%;

			&--big {
				width: 100%;
			}

			&:first-child,
			&:nth-child(3) {
				margin-right: 0;
			}

			&:nth-child(2) {
				margin-right: inherit;
			}
		}
	}
}

@media(max-width: 768px) {
	.categories-preview {
		flex-wrap: wrap;
		margin-bottom: 45px;

		&__column {
			margin-right: 0;
			width: 100%;

			&:last-child {
				width: 100%;

				.categories-preview__name {
					width: auto;
				}
			}
		}

		&__wrapper {
			width: 49.4%;

			&--big {
				width: 100%;
			}


			&:first-child,
			&:nth-child(3),
			&:nth-child(5) {
				margin-right: 0;
			}

			&:nth-child(2) {
				margin-right: 8px;
			}
		}
	}
}

@media(max-width: 694px) {
	.categories-preview {
		&__wrapper {
			margin-right: 0;

			&:nth-child(2) {
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 576px) {
	.categories-preview {
		&__wrapper {
			width: 100%;
		}

		&__name {
			width: auto;
		}
	}
}

//===============ФУТЕР==============

@media(max-width: 1450px){
	.footer {
		&__list-wrapper {
			width: 210px;
			margin-right: 40px;
		}
	}
}

@media(max-width: 1280px){
	.footer {
		&__list-wrapper {
			width: 210px;
			margin-right: 25px;
		}
	}
}

@media(max-width: 1190px){
	.footer {
		&__list-wrapper {
			width: 175px;
			margin-right: 15px;
		}
	}
}

@media(max-width: 1010px){
	.footer {
		margin-top: 100px;

		&__main {
			padding-bottom: 10px;
		}

		&__wrapper {
			&--column {
				&:last-child .footer__list-wrapper {
					width: 220px;
					margin-bottom: 0;
				}
			}
		}

		&__list-wrapper {
			width: 165px;
			margin-right: 10px;
			margin-bottom: 40px;

			&:last-child {
				margin-bottom: 0;
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 725px) {
	.footer {
		margin-top: 50px;

		&__list-wrapper {
			position: relative;
			margin: 0 auto;
			margin-bottom: 24px;
			width: 220px;

			&:last-child {
				margin-right: auto;
				margin-bottom: 24px;
			}
		}

		&__wrapper {
			flex-direction: column;
			margin: 0 auto;

			&--column {
				width: 100%;

				&:last-child .footer__list-wrapper {
					margin: 0 auto;
				}
			}
		}

		&__list-special {
			margin: 0 auto;
			margin-top: 30px;
		}

		&__list {
			display: none;

			&__special {
				margin-top: 40px;
			}
		}

		&__item {
			//position: absolute;
			top: 0;
			z-index: -1;
		}

		&__item.show {
			position: relative;
		}

		&__link {
			position: relative;

			&--title {
				&:after,
				&:before {
					content: "";
					position: absolute;
					top: 50%;
					height: 2px;
					width: 8px;
					background-color: $title-gray;
					transform: translateY(-50%);
				}

				&:after {
					right: 0;
					transform: rotate(-45deg);
				}

				&:before {
					right: 5px;
					transform: rotate(45deg);
				}
			}
		}
	}
}

//===============ПРЕВЬЮ КАРТОЧКИ ТОВАРА В БЛОКЕ==============

@media(max-width: 768px) {
	.products {

		&__list {
			justify-content: flex-start;
		}

		&__card {
			margin-right: 7px;
			margin-bottom: 25px;

			&:last-child,
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
}

@media(max-width: 576px) {
	.products {

		&__list {
			justify-content: flex-start;
		}

		&__card {
			margin-right: 0;
			margin-bottom: 25px;

			&:last-child,
			&:nth-child(3n){
				margin-right: 0;
			}
		}
	}
}

//===============УСЛУГИ==============

@media(max-width: 768px) {
	.services {
		margin-bottom: 60px;

		&__list {
			flex-wrap: wrap;
		}
	}
}

@media(max-width: 590px) {
	.services {
		margin-bottom: 30px;

		&__list {
			width: 500px;
		}

		&__item {
			width: 240px;
			margin-bottom: 30px;
		}

		&__name {
			padding-top: 20px;
			padding-bottom: 20px;
			padding-left: 85px;
			padding-right: 10px;
			font-size: 14px;
			text-align: left;

			&:before {
				top: 50%;
				left: 0;
				transform: translate(0, -50%);
			}

			&__text {
				padding-left: 10px;
				padding-right: 10px;

			}
		}
	}
}

@media(max-width: 530px) {
	.services {
		margin-bottom: 30px;

		&__list {
			margin: 0 auto;
			width: 280px;
		}
	}
}

//===============СКИДКИ==============

@media(max-width: 768px){
	.sales {
		flex-wrap: wrap;
		justify-content: center;

		&__banner {
			width: 45%;
			margin-right: 15px;
			margin-bottom: 15px;

			&:nth-child(2n) {
				margin-right: 0;
			}
		}

		&__title {
			left: 15px;
			bottom: 15px;
			font-size: 25px;
			line-height: 28px;
		}

		&__percent {
			font-size: 18px;
		}
	}
}

@media(max-width: 700px) {
	.sales {
		&__banner {
			width: 100%;
			margin-right: 0;
		}
	}
}

@media(max-width: 576px) {
	.sales {
		margin-bottom: 50px;

		&__banner {
			margin-right: 0;
		}
	}
}

//===============ПАРТНЕРЫ==============

@media(max-width: 768px){
	.partners {
		margin-bottom: 25px;
	}
}
