@media (max-width: 1800px) {

	.two-cols-block {
		background-size: auto 100%;
		&__header {
			justify-content: flex-end;
			p {
				display: none;
			}
		}
	}
}

@media (max-width: 1700px) {

	.two-cols-block {
		&__header {
			justify-content: flex-end;
			p {
				display: none;
			}
		}
	}
}

@media (max-width: 1600px) {
	.services {

		&__content {
			margin: 0 -15px;
		}

		&__item {
			flex-basis: 25%;
			padding: 40px 15px 30px;
		}
	}
}

@media (max-width: 1500px) {
	.two-cols-block {
		&__nav {
			ul {
				padding-left: 18px;
			}

			li {
				padding: 0 20px;
			}

			a {
				padding: 20px 0;
				font-size: 16px;
				position: relative;
			}
		}
	}
}

@media (max-width: 1400px) {

	.two-cols-block {
		height: 800px;
		&__nav {

			ul {
				padding-left: 28px;
			}

			li {
				padding: 0 10px;
			}

			a {
				padding: 20px 0;
				font-size: 14px;
			}
		}

		&.second {
			.mark {
				&.first-mark {
					right: 600px;
				}

				&.second-mark {
					right: 510px;
				}
			}
		}

		&__content {
			height: 800px;
		}
	}
}

@media (max-width: 1200px) {

	.two-cols-block {
		height: 700px;

		&__nav {

			ul {
				padding-left: 28px;
			}

			li {
				padding: 0 10px;
			}

			a {
				padding: 20px 0;
				font-size: 14px;
			}
		}

		&.second {
			.mark {
				&.first-mark {
					right: 500px;
				}

				&.second-mark {
					right: 470px;
				}
			}
		}

		&__content {
			height: 700px;
		}
	}

	.product {
		&__nav {
			&__content {
				font-size: 14px;
				line-height: 19px;
			}
		}

		&__item {
			margin-bottom: 120px;

			&-content {
				flex-wrap: wrap;

				.left {
					flex-basis: 100%;
					padding: 0 15px;
					width: 100%;

					.product__text {
						background-color: $white;
						padding: 40px 42px;
					}
				}

				.right {
					flex-basis: 100%;
				}
			}
		}
	}

	.materials {
		margin: 50px -15px 10px;

		&__item {
			flex-basis: 25%;
		}
	}

	.overlay {
		.feedback-overlay {
			padding: 10vh 0 10vh;

			.close {
				left: auto;
				right: 0;
			}
		}
	}
}

@media (max-width: 992px) {

	.mobile-header {
		display: flex;
	}

	.two-cols-block {
		height: auto;
		background-image: none!important;

		.container {
			padding: 0;
		}

		.logo {
			display: none;
		}

		&__header {
			display: none;
		}

		&__nav {
			display: none;
		}

		.mark {
			display: none;
		}

		&__content {
			height: auto;
			flex-wrap: wrap;
		}

		&__text {
			flex-basis: 100%;
			order: 2;
			padding: 24px 15px;

			&.right {
				order: 2;

				.two-cols-block__text__content {
					align-items: flex-start;
				}
			}

			&__content {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				flex-direction: row;
				flex-wrap: wrap;
				height: 100%;

				h1 {
					display: none;
				}

				h2 {
					flex-basis: 100%;
					margin-bottom: 7px;
					max-width: 100%;
				}

				p {
					flex-basis: 100%;
					max-width: 100%;
					margin-bottom: 40px;
				}

				a {
					display: inline-block;
				}
			}
		}

		&__photo {
			flex-basis: 100%;
			order: 1;

			img {
				display: block;
				width: 100%;
			}
		}
	}

	.offers-block {
		background-color: $grey;
		padding: 60px 0 89px;
	}

	.product {
		&__nav {
			border: none;
			height: auto;

			&__content {
				flex-wrap: wrap;
				justify-content: flex-start;
				border: none;
			}

			a {
				flex-basis: 30%;
				border: 1px solid #292E3C;
				margin: 0 10px 10px 0;
				&:nth-last-of-type(1) {
					border-right: 1px solid #292E3C;
				}
			}
		}
	}

	.materials {
		margin: 50px -15px 10px;

		&__item {
			flex-basis: 33.3%;
		}
	}

	.services {

		&__content {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 50%;
			padding: 20px 15px;
			margin-bottom: 30px;
		}
	}

	.portfolio {

		&__content {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 50%;
			margin-bottom: 30px;
		}
	}

	.overlay {
		.feedback-overlay {
			&__content {
				.contact {
					font-size: 20px;
					margin-bottom: 5vh;
				}

				.shops {
					font-size: 32px;
					line-height: 40px;
					margin-bottom: 5vh;
				}
			}
		}
	}

	.feedback {
		h4 {
			margin-bottom: 5vh;
		}
	}
}

@media (max-width: 768px) {

	.mobile-header {

		.logo {
			display: block;
			width: 48px;
			height: 48px;
		}

		.title {
			margin-left: 24px;

			h2 {
				font-size: 24px;
				line-height: 24px;
				margin-bottom: -8px;
			}

			span {
				font-size: 10px;
			}
		}

		.burger {
			width: 48px;
			height: 48px;
		}
	}

	.offers-block {
		&__content {
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 50%;
			margin-bottom: 30px;
			&:nth-of-type(1) {
				flex-basis: 100%;
				margin-bottom: 30px;
			}
		}
	}

	.product {
		&__nav {
			a {
				flex-basis: 45%;
			}
		}

		&__text {

			.btns {
				display: flex;

				a {
					font-size: 16px;
					padding: 20px 40px;
					transition: 0.3s;
				}
			}
		}
	}

	.offers {
		flex-wrap: wrap;

		&__item {
			flex-basis: 33.3%;
			margin-bottom: 30px;
		}
	}

	.portfolio {

		&__content {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;

			.text {
				padding: 24px;

				a {
					svg {
						margin-left: 10px;
					}
				}
			}
		}
	}
}

@media (max-width: 576px) {

	.two-cols-block {
		&__text {
			&__content {
				h2 {
					margin-bottom: 7px;
					font-size: 20px;
					line-height: 24px;
				}

				p {
					margin-bottom: 24px;
				}
			}
		}
	}

	.offers-block {
		&__content {
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;
			&:nth-of-type(1) {
				flex-basis: 100%;
				margin-bottom: 30px;
			}
			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}

	.product {
		&__nav {
			border: 1px solid #292E3C;

			a {
				flex-basis: 100%;
				margin: 0;
				border: none;
				border-bottom: 1px solid #292E3C;

				&:nth-last-of-type(1) {
					border: none;
				}
			}
		}

		&__item {
			h3 {
				font-size: 20px;
				line-height: 23px;
				margin-bottom: 29px;
			}
			&-content {
				.left {
					.product__text {
						padding: 40px 15px;
					}
				}
			}
		}

		&__text {

			.btns {
				display: flex;
				flex-wrap: wrap;
				a {
					flex-basis: 100%;
					font-size: 16px;
					text-align: center;
					padding: 20px 0;
					margin-bottom: 15px;

					&:nth-last-of-type(1) {
						margin-bottom: 0;
					}
				}
			}
		}
	}

	.materials {
		margin: 50px -15px 10px;

		&__item {
			flex-basis: 50%;

			p {
				padding: 10px;
			}
		}
	}

	.offers {
		&__item {
			flex-basis: 50%;
		}
	}

	.services {

		&__content {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;

			&:nth-last-of-type(1) {
				margin-bottom: 0;
			}
		}
	}

	.portfolio {

		&__content {
			flex-wrap: wrap;
		}

		&__item {
			flex-basis: 100%;
			margin-bottom: 30px;

			.text {
				padding: 24px;

				a {
					font-size: 14px;
					svg {
						margin-left: 10px;
					}
				}
			}
		}
	}

	.feedback {
		&__content {
			max-width: 387px;
			width: auto;
		}
	}

	.overlay {
		.feedback-overlay {
			.close {
				width: 48px;
				height: 48px;
			}
		}
	}
}
