//=======COLORS========
$red: #d33234;
$white: #ffffff;
$black: #000000;
$dark: #292e3c;
$main-bg: #f6f6f6;
$line-gray: #c7c8c8;
$title-gray: #545863;
$title-gray-light: #6d707a;
$header-top-menu: #b5b6b9;
$header-top-menu-hover: #e5e5e6;
$header-search-dark-gray: #c7c8cb;
$opacity-gray: rgba(41, 46, 60, 0.88);
$news-date: rgba(41, 46, 60, 0.48);
$states-text: #999ba2;
//===========DEFAULT STYLES========

// Main

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

.visually-hidden:not(:focus):not(:active),
input[type = "checkbox"].visually-hidden,
input[type = "radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

html,
body {
	margin: 0;
	width: 100%;
}

body {
	font-family: "Roboto", "Arial", sans-serif;
	position: relative;
	line-height: 1.2;
	font-size: 18px;
	font-weight: 400;
	background-color: $main-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.2s;

	&:hover,
	&:focus {
		text-decoration: none;
		outline: none;
	}
}

p {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0;
}

input,
textarea,
button {
	outline: none;
	-webkit-appearance: none;
	resize: none;

	&:focus {
		outline: none;
	}
}

.container {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 15px;
}

.container__header {
	max-width: 1886px;
	padding: 0 15px;
	margin: 0 auto;
}

//заголовки блоков
.block-title {
	font-size: 24px;
	line-height: 29px;
	font-weight: 400;
	color: $black;
	margin-bottom: 24px;

	a {
		font-size: 12px;
		line-height: 18px;
		color: $title-gray;
		text-transform: uppercase;
		margin-left: 24px;
	}
}
